#table-principale > table-body > table-row > table-cell:first-child{
    color: red;
}
#table-principale > table-body > table-row > table-cell:nth-child(2){
    color: green;
}
#table-principale > table-body > table-row > table-cell:nth-child(3){
    color: blue;
}
#table-principale > table-body > table-row > table-cell:last-child{
    color: purple;
}
