@import url("base.css");
@import url("couleurs.css");

#table-principale > table-header > table-row{
    text-align: center;
    font-weight: bold;
}

#table-principale > table-header table-cell{
    padding: 2mm 0 0mm;
}
