<!doctype html>
<html lang="fr">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="description" content="Héritages Flask">
    <meta name="author" content="Stagiaire Python Développeur">
    <meta name="dcterms.rightHolder" content="GNU General Public Licence 3">
    <meta name="dcterms.rights" content="https://www.gnu.org/licences/gpl-3.0.fr.html">
    <meta name="dcterms.dateCopyrighted" content="2021">
    <meta name="keywords" content="Python, Flask, HTML, CSS">
    {% block meta %}{% endblock %}
    <!-- endMetas -->
    <!-- Title -->
    <title>{% block title %}Python Flask{% endblock %}</title>
    <!-- endTitle -->
    <!-- Links -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    {% block links %}{% endblock %}
    <!-- endLinks -->
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    {% block styles %}{% endblock %}
    <!-- endStyles -->
    <!-- Scripts -->
    {% block javascript %}{% endblock %}
    <!-- endScripts -->
</head>
<body role="document">
    <header role="banner">{% block header %}{% endblock %}</header>
    <navbar role="navigation" id="navbaron">{% block navbar %}{% endblock %}</navbar>
    {% block messages %}{% endblock %}
    <main role="main">{% block content %}{% endblock %}</main>
    <aside role="aside">{% block aside %}{% endblock %}</aside>
    <footer role="footer">{% block footer %}{% endblock %}</footer>
    {% block scripts %}{% endblock %}
</body>
</html>
