{% extends "base.html" %}
{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
{% block styles %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.min.css') }}">{% endblock %}
{% block title %}Connexion Application Flask{% endblock %}
{% block header %}{% if formulaire.errors %}<p>{{ formulaire.bad_connect }}</p>{% endif %}{% if next %}{% if user.is_authenticated %}<p>{{ formulaire.bad_access }}</p>{% else %}<p>{{ formulaire.not_connected }}</p>{% endif %}{% endif %}{% endblock %}
{% block content %}<figure role="logo"></figure>
<section role="window">
    <h1>S.V.P. Connectez vous</h1>
    <form action="" method="post" novalidate>
        {{ formulaire.csrf_token }}
        <p>{{ formulaire.nom_utilisateur.label }}{{ formulaire.nom_utilisateur }}</p>
        <p>{{ formulaire.motdepasse.label }}{{ formulaire.motdepasse }}</p>
        <p>{{ formulaire.submit }}</p>
    </form>
</section>{% endblock %}
