/*************************/
/* Mise en page générale */
/*************************/

/*Configuration de compatibilité navigateurs*/
*{-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box}
html{-ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%}
body{margin:0}
aside,footer,header,main,menu,section{display:block}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
mark{background:#ff0;
    color:#000}
small{font-size:80%}
sub,sup{font-size:75%;
        line-height:0;
        position:relative;
        vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif};
body{
    background-color: @sand;
};

