/*++++++++++++++++++++++++++++++++++++++++++++*/
/*          Graphic Framework widget          */
/*++++++++++++++++++++++++++++++++++++++++++++*/
/*Import colors framework*/
@import "colors";
/*Import colors framework*/
@import "sizes";
/*Import positions framework*/
@import "positions";
/*Fin import positions framework*/
/*Import layout framework*/
@import "layouts";
/*Fin import layout framework*/
/*Import effects framework*/
@import "effects";
/*Fin import effects framework*/

/*Entete*/
header{
    max-width:100%;
    .teal;
};
.Entete{
    z-index:1;
    .container;
    .info-bg-color;
    h1{.info-bg-color;};
    h4{
        .text-white;
        .opacity;
    };
};

/*Corps de l'application*/
main{
    .container;
    width:100%;
    height:100%;
    overflow:auto
};

/*barre lattérale*/
aside{
};

/*Pied de page*/
footer{
};

/**********/
/* Output */
/**********/
/* Label */
/* Tooltip/Balloon help */
    /*Impossible de modifier l'apparence de l'attribut tooltip*/
/* Status bar */
/* Progress bar */
progress#avancement:hover:after{
    display:block;
    padding: 0px;
    margin-top: -2px;
    text-align: center;
    content: attr(value)'%';
};
/* Infobar */
message{
    .container;
    width:100%;
    height:100%;
    overflow:auto;
    p{
        .error;
    };
};
.error{ background: #f0d6d6; padding: 0.5em;};

/*-----------*/
/* Contenair */
/*-----------*/
.container{
    padding:0.01em 16px;
    &:after{
        content:"";
        display:table;
        clear:both;
    };
};
/**********/
/* Window */
/**********/
/*Collapsible panel*/
/*Accordion*/
/*Modal windows*/
/*Dialog box*/
/*Palette windows*/
    /*Inspector windows*/
/*Frame*/
    /*Fond de panneaux*/
    /*Panels*/
.card{.shadow-small;};
    /*.panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important};*/
.panel(@titre-text-color; @bg-titre-color; @bg-pannel-color) {
    .left;
    .margin-top;
    .margin-bottom;
    @media (min-width:626px) {
        .margin-left;
        .margin-right;
        width: 95%;
    };
    @media (max-width:625px) {
        .large;
        width: 100%;
    };
    fieldset {
        .container;
        .padding(32px);
        .card;
        background-color: @bg-pannel-color !important;
        /*
        color:@white!important;
        background-color:@teal!important;
        */
        legend {
            .card;
            .border-radius;
            color: @titre-text-color !important;
            background-color: @bg-titre-color !important;
            /*
            color:@white!important;
            background-color: @dark-blue!important;
            */
            position: relative;
            float: left;
            height: 30px;
            margin-top: -45px;
            padding: 4px 8px;
            opacity: 0.9;
        };
    };
};
/*Canvas*/
/*Covoer Flow*/
/*Bubble Flow*/
/************/
/* Menu bar */
/************/
/*Affichage de petites résolutions <=625px*/
@media screen and (max-width:625px) {
    .navbar li:not(:first-child){float:none;width:100%!important}
    .navbar li.right{float:none!important}
    .navbar{text-align:center}
};
@media (max-width:430px) {
    span.hide-phone {display:none!important;};
};
@media (max-width:625px) {
    span.hide-mobile {display:none!important;};
    /*Gestion de l'affichage de la barre de navigation*/
    /*Supprime les texte de la barre de menu*/
    navbar > ul.navbar > li:not(:first-child) {
        display:none!important;
        };

    /*Supprime l'information principale*/
    main > section > h2:first-child{
        display:none!important;
    };

    /*Gestion de l'affichage du panneau de menu*/
    navbar {
        width:100%;
        &:target #Sidenav {
            .show;
            margin-top:0px;
        };
        &:target ul.navbar > li:first-child > a:nth-child(2) {
            .show;
            overflow:hidden;
        };
        &:target ul.navbar > li:first-child > a:first-child {
            .hide;
            overflow:hidden;
        };
    };
};
/*Affichage entre 626px et 992px*/
@media (max-width:992px) and (min-width:626px) {
    /*Supprime le texte superflu*/
    span.hide-tablet {display:none!important;};
    /*Supprime l'affichage du bouton panneau latéral*/
    navbar > ul > li:first-child {
        display:none!important;
        };
};
@media screen and (max-width:992px) {
    #Sidenav.collapse{display:none}
    .main{margin-left:0!important;margin-right:0!important}
};
/*Affichage de plus de 992px*/
@media screen and (min-width:993px) {
    span.hide-pc {display:none!important;};
    #Sidenav.collapse{display:block!important}
};
@media (min-width:993px) {
    /*Supprime l'affichage du bouton panneau latéral*/
    navbar > ul > li:first-child {
        display:none!important;
        };
    /*Affiche un texte différent de déconnexion*/
    navbar > ul > li:nth-last-child(2) {
        display:none!important;
        };
};

/*Barre de menus tablette ou PC*/
navbar{
    ul{
        &.navbar{
            /*text-color; bg-color; hover-text-color; bg-hother-color; defaut-menu + 1; defaut-menu-text-color; defaut-menu-bg-color; defaut-menu-hover-text-color; defaut-menu-hover-bg-color*/
            .menubar(@white, @dark-blue, @dark-blue, @white, 2, @white, @teal, @white, @dark-blue);
        };
    };
};
/*Cacher menu latéral*/
navbar > ul.navbar > li:first-child > a:nth-child(2){
    .hide;
};

/*Barre de menus portable*/
.sidenav(@text-menu-color: @black, @bg-menu-color: @white, @text-menu-color-hover: @white, @bg-menu-color-hover: @black, @defaut-menu: 1, @defaut-menu-text-color: @black, @defaut-menu-bg-color: @red, @defaut-menu-hover-text-color: @black, @defaut-menu-hover-bg-color: @white){
    .animate-left;
    /*mise en page panneau*/
    margin-top:0px;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:auto;
    /*width:320px;*/
    /*z-index:5;*/
    /*Mise en page texte*/
    /*Couleur de fond des menus*/
    background-color:@bg-menu-color !important;
    .left-align;
    /*liens panneau latéral*/
    li {
        display:block;
        /*Apparence menu actif*/
        &:nth-child(@{defaut-menu}){
            /*fond texte*/
            background-color:@defaut-menu-bg-color;
            i{.margin-right;};
            a{
                color:@defaut-menu-text-color;
            };
            display:block;
            padding:8px 16px;
        };
        /*Apparence menus*/
        &:not(:nth-child(@{defaut-menu})){
            i{.margin-right;};
            /*Couleur texte menu*/
            a{color:@text-menu-color;};
            display:block;
            padding:8px 16px;
        };
        &:hover{
            /*Apparence survol menu actif*/
            &:nth-child(@{defaut-menu}){
                a {color:@defaut-menu-hover-text-color;};
                background:@defaut-menu-hover-bg-color;
            };
            /*Apparence survol menus*/
            &:not(:nth-child(@{defaut-menu})){
                a {color:@text-menu-color-hover;};
                background-color:@bg-menu-color-hover;
            };
        };
    };
};
navbar > ul#Sidenav{
    .hide;
    /*text-color; bg-color; hover-text-color; bg-hother-color; defaut-menu; defaut-menu-text-color; defaut-menu-bg-color; defaut-menu-hover-text-color; defaut-menu-hover-bg-color*/
    .sidenav(@white, @dark-blue, @dark-blue, @white, 1, @white, @teal, @white, @dark-blue);
};

/********/
/* Menu */
/********/
.menubar(@text-menu-color: @black, @bg-menu-color: @white, @text-menu-color-hover: @white, @bg-menu-color-hover: @black, @defaut-menu: 2, @defaut-menu-text-color: @black, @defaut-menu-bg-color: @red, @defaut-menu-hover-text-color: @black, @defaut-menu-hover-bg-color: @white) {
    /*Apparence fond de barre navigation*/
    background-color: @bg-menu-color !important;
    /*.dark-blue;*/
    /*Alignements et mise en page*/
    .left-align;
    .large;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    /*Effet de click*/
    li {
        /*alignement des menus*/
        float:left;
        display:block;
        padding:8px 16px;
        /*Gestion alignement menus*/
        /*Alignement bouton selecteur paneau*/
        &:first-child, &:last-child, &:nth-last-child(2){
            .right;
        };
        /*couleur menus*/
        &:nth-child(@{defaut-menu}) a{
            /*Couleur menu sélectionné*/
            color: @defaut-menu-text-color !important;
            i{.margin-right(8px);};
        };
        &:not(:nth-child(@{defaut-menu})) a{
            /*Couleur autres menus*/
            color: @text-menu-color !important;
            i{.margin-right(8px);};
        };
        &:first-child a{
            /*Couleur autres menus*/
            color: @text-menu-color !important;
            i{.margin-right(0px);};
        };

        /*Gestion des menus*/
        &:hover{
            &:first-child a{
                /*Couleur du lien au survol*/
                color: @text-menu-color-hover !important;
            };
            &:not(:first-child) a{
                /*Couleur du lien au survol*/
                color: @text-menu-color-hover !important;
                /*Marge symbole*/
                i{.margin-right(8px);};
            };
            /*couleur de fond du survol*/
            background-color: @bg-menu-color-hover !important;
        };
        /*Gestion menu actif*/
        &:nth-child(@{defaut-menu}){
            /*Couleur fond menu actif*/
            background-color: @defaut-menu-bg-color !important;
            /*Marge a droite pour les icônes sauf pour le sélecteur panneau*/
            &:hover{
                /*couleur texte survol*/
                a{
                    color: @defaut-menu-hover-text-color !important;
                    /*Marge symbole*/
                    i{.margin-right(8px);};
                };
                /*couleur de fond survolée*/
                background-color: @defaut-menu-hover-bg-color !important;
                cursor:pointer;
                /*opacity:0.8;*/
            };
        };
    };
};
/*Context nenu*/
/*Pie menu*/
/***********/
/* Toolbar */
/***********/
/*Ribbon*/

/*--------------------------------------*/
/* Selection and display of collections */
/*--------------------------------------*/
/**********/
/* Button */
/**********/
/*Button*/
.button {
    .user-select;
    .presentation-btn;
    .padding-size(@medium);
    .color-btn;
    .border(@teal);
    .hover-border-dark-blue;
    .transition-btn;
    &:disabled{
                cursor:not-allowed;
                opacity:0.3;
                box-shadow:none;
                };
    .disabled *{
                pointer-events:none;
                &:hover{box-shadow:none};
                };
    &:hover{
            .hover-border-white;
            .shadow-large;
            };
};
.presentation-btn(){
    display:inline-block;
    /*float:left;*/
    cursor:pointer;
    outline:0;
    overflow:hidden;
    vertical-align:middle;
    padding:6px 16px;
    box-sizing: border-box;
    border:none;
    .border-radius(5px);
    font-weight: bold;
    text-align:center;
    text-decoration:none!important;
    white-space:nowrap;
};
/*Radio button*/
/*Check box*/
/*Split button*/
/*Cycle button*/
/**********/
/* Slider */
/**********/
/************/
/* List Box */
/************/
/*Liste de sélection*/
select {.select;};
.select {
    color:@black;
    min-width:300px;
    .margin-bottom(@margin: 5px);
    /*.margin(@margin: 5px);*/
    padding:9px 0;
    border:1px solid transparent;
    border-bottom:1px solid @teal;
    &:focus{
        color:@black;
        border:1px solid @yellow;
        .shadow-large;
    }
    option[disabled]{color: @sand};
};
/***********/
/* Spinner */
/***********/
/******************/
/* Drop-down list */
/******************/
/*************/
/* Combo box */
/*************/
/**********/
/* Icon */
/**********/
/*************/
/* Tree view */
/*************/
/*************/
/* Grid view */
/*************/
